# IDE
.vscode/
.idea/

# Terraform state files
*.tfstate
*.tfstate.*
*.backup

# Terraform cache
.terraform/

# Environment variables
.env

# Secret key
*.pem
*.key

# Local AWS command outputs
describe-stacks*.json
