# IDE
.vscode/
.idea/

# Environment variables
.env

# Secret key
*.pem
*.key

# Local AWS command outputs
describe-stacks*.json

# Temporary imported repositories
.tmp-sagelms/

# Build outputs
target/
